* {
  box-sizing: border-box;
}


.body {
  margin-top: 5px;
  margin: 0px;
  padding: 5px;
}

.pageTitle {
  text-align: center;
  font-size: 35pt;
}

.homeImage {
  display: flex;
  justify-content: center;
}

.mainContainer {
  padding: 5px;
  font-family: Apple Chancery, cursive;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 15px;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
}



/* .gallery{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1px;
  margin: auto;
} */
.gallery {
  display: grid;
  /* NOTE:
  Creates an even 5 column grid
  */
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-gap: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imggrid {
  width: 250px;
  height: 250px;
  object-fit: cover;
}


.selfluv {
  display: flex;
  justify-content: center;
}

.p1 {
  display: flex;
  font-size: 30pt;
  justify-content: center;
  align-content: center;
  padding: 50px;
  font-size: em;
  text-align: center;
}

.bpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bpBorder{
  border-style: double;
  border-radius: 25px;
  padding: 10px;
  width: 1200px;
  height: 1000px;
}

.bp {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  text-align: center;
  width: 1100px;
  font-size: 20pt;
  padding: 20px;

}

.heart {
  display: flex;
  justify-content: center;
  align-content: center;
}

.p2 {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 3em;
  text-align: center;
  padding: 15px
}
